.send-email-title {
  font-size: 66px;
  font-style: italic;
  text-align: center;
  display: block;
}

.send-email-subtitle {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.send-email-form {
  border-radius: 5px;
  padding: 40px;
}

.input-submit {
  text-align: center;
  width: 30%;
  padding: 12px 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-sizing: border-box;
}

.input-message {
  text-align: center;
  width: 90%;
  height: 80px;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  margin-left: 40px;
  border-radius: 12px;
  box-sizing: border-box;
}

.label-message {
  width: 100%;
}

.input-rest {
  width: 90%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 12px;
  box-sizing: border-box;
}

.label-rest {
  text-align: center;
}
