footer {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.footer-category-text {
  display: block;
  color: wheat;
  margin-bottom: 10px;
}

.footer-category-text-2ndlevel {
  display: block;
  font-weight: bold;
}

.footer-element {
  display: table-row;
}

.contact {
  max-width: 40%;
  display: inline-block;
  margin-right: 20%;
}

.social-media {
  display: inline-block;
}
.social-img {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}
