body {
  margin: 0;
  font-family: century gothic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(86, 87, 86);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin-top: 80px; /* Add a top margin to avoid content overlay */
  text-align: center;
}

.description {
  font-style: italic;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link {
  margin-left: 40px;
}
